@import 'utils/variables';
@import 'components/type';

.school-img {
    width: 320px;
}

.btn-menu{
    background-image: url(../assets/images/bars.svg);
    background-size: 100% 100%;
    width: 50px;
    height: 50px;
    border: none;
}
.li--nav{
    display: none;
}
li{
    list-style: none;
    margin-bottom: 5px;
}

body[data-menu="open"]{
    nav{
        background-color: aqua;
    }
    .btn-menu{
        background-image: url(../assets/images/close.svg);
        background-size: 100% 100%;
        width: 50px;
        height: 50px;
    }
    
    h1{
        color: white;
    }
    .tittle{
        color: black;
        font-size: 21px;
    }
    .border-bot{
        border-bottom: solid gray 1px;
    }
    .li--nav{
        display: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 100px;
        color: blue;
    }
}

